{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row" style="margin-bottom:1.5em;">
	<div class="col-xs-12">
		<h1>
			{{ poll.question }} <span class="label label-success">{{ total_votes }} vote{% if total_votes != 1 %}s{% endif %}</span>
			{% if has_voted %}<span class="label label-default"><i class="fa fa-check"></i>&nbsp;A voté</span>{% endif %}
		</h1>
	</div>
</div>
{% if poll.votable %}
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<div class="form-group text-center">
			<div class="panel panel-default">
				<form action="{% url 'polls:vote' poll.id %}" method="post">
				    {% csrf_token %}
				    <div class="panel-body">
					    {% for choice in choices %}
					    	<div class="row">
					    		<div class="col-xs-12">
					    			<div class="radio">
								    	<label>
								    		<input type="radio" name="choice_pk" value="{{ choice.id }}"> {{ choice.choice }}
								    	</label>
								    </div>
						    	</div>
					    	</div>
					    {% endfor %}
					</div>
				    <div class="panel-footer clearfix">
						<div class="pull-right">
						    <input type="submit" class="btn btn-primary" value="{% trans "Vote" %}">
						    <a href="{% url 'polls:list' %}" class="btn btn-default">{% trans "Back to polls list" %}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<ul class="list-unstyled">                            		
		{% for choice in choices %}
		    <li>
			    <p>{{ choice.choice }}</p>
			    <div class="progress">
			        <div class="progress-bar" style="width:{% widthratio choice.votes.count total_votes 100 as percentage %}{{ percentage }}%;">
			            {{ percentage }}%
			        </div>
			    </div>
		    </li>
		{% endfor %}
		</ul>
		{% if not user.is_authenticated %}
			<div class="text-center">
				<p>
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#login_vote">{% trans 'Vote' %}</button>
				</p>
				<p id="login_vote" class="collapse">
					{% trans 'To vote you must login' %} <a href="{{ login_url }}" class="btn btn-warning">{% trans 'Login' %}</a>
				</p>
			</div>
		{% endif %}
		<p class="text-center" style="margin-top:2em;">
			<a href="{% url 'polls:list' %}" class="btn btn-default">{% trans "Back to polls list" %}</a>
		</p>
	</div>
</div>
{% endif %}
{% endblock %}
